.addTocartbtn{
    background-color: #3c3535;
    border: none;
    padding: 5px;
    font-size: 20px;
    color: #fff;
}
.addTocartbtn:hover{
    background-color: #2b2323;
   
}
.productQtyCartBuy .qty{
    padding: 5px;
}
.productDescription li{
    list-style-type: circle;
}
.text-red{
    color: red !important;
}
.pcSet{
    padding: 5px !important;
}
.inStock{
    color: rgb(74, 218, 74);
}
.actualPrice{
    font-size: 15px;
}
.btnBuyNow{
    padding: 6px;
}

.thisPageLink{
    margin-top: -25px;
    margin-left: 10px;
}