/*
 * StlViewer css File
*/

.StlViewer {
    /* propertys here */
}
.heightUnit {
    width: 10px;
    border: 1px solid #fffcfb;
    border-radius: 5px;
    height: 319px;
    background-color: #42d942;
    display: none;
  }

  .widthUnit {
    height: 10px;
    border: 1px solid #fffcfb;
    border-radius: 5px;
    background-color: #42d942;
    display: none;
  }