.boxed {
    padding: 0px 8px 0 8px;
    background-color: #4bb8a9;
    color: #fff;
}

.boxed-1 {
    padding: 0px 8px 0 8px;
    color: black !important;
    border: 1px solid #aaaa;
}

.bell {
    opacity: 0.5;
    cursor: pointer;
}

@media (max-width: 767px) {

    .payment-btn button{
        font-size: 14px;
    }
}