/*
 * Slider css File
*/

.Slider {
    /* propertys here */
}
/* .carousel-slider{
    height: 400px;
} */
.carousel.carousel-slider .control-arrow{
    top: 40% !important;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    padding: 5px;
    width: 50px;
    height: 50px;
    
    
}
.carousel.carousel-slider .control-arrow:hover{
    background: #ffb113 !important;
}
/* .carousel .slider-wrapper, .carousel .slide{
    height: 400px;
} */
.banner-info{    
    position: absolute; 
    width: 20%;
    text-align: center;
    bottom: 20px;
    right: 0;
    transition: top 0.5s;
}
/* .slider-wrapper:hover .banner-info{
    display: flex !important;
    top:0;
    transition: top 1s;
    } */
@media (max-width: 768px) {
    .banner-info{
        width: 100%;
    }
 }